<launch>
    <!-- Opens respective nodes needs to get imu data from rasp pi and also opens simulation in rviz for imu orientation -->
    <machine name="WUROV" address="192.168.1.1" env-loader="/home/ubuntu/catkin_ws/src/wurov2_0/config/setup.sh" user="ubuntu" password="witwurov"/>
    <node machine="WUROV" name="imu_data" pkg="wurov2_0" type="imu_pub_data.py" />

    <include file="$(find imu_filter_madgwick)/launch/imu_filter_madgwick.launch" />
    <node name="orientation" pkg="wurov2_0" type="euler_conversion.py"/>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find wurov2_0)/rviz/test_bench_model.rviz"/> 
</launch>

